<section class="advantages-section">
  <div class="container-advantages">
    <h2 class="advantages-title">Advantages</h2>
    <ol class="advantages-list">
      <li class="advantages-list-item">
        <h3 class="advantages-title-list">01</h3>
        <p class="advantages-text">Swimming and water sports: try your hand at water skiing</p>
      </li>
      <li class="advantages-list-item">
        <h3 class="advantages-title-list">02</h3>
        <p class="advantages-text">Fishing: try to catch your own dinner</p>
      </li>
      <li class="advantages-list-item">
        <h3 class="advantages-title-list">03</h3>
        <p class="advantages-text">
          Sightseeing tours: take a shore or island tour, enjoy the views and
          sunsets from the water
        </p>
      </li>
      <li class="advantages-list-item">
        <h3 class="advantages-title-list">04</h3>
        <p class="advantages-text">
          Rest and relaxation: read a book or listen to music while enjoying the
          outdoor atmosphere.
        </p>
      </li>
    </ol>
    <picture class="advantages-images">
      <source
        srcset="./images/advantages_desk.jpg x1, 
                ./images/advantages_desk2.jpg x2"
        media="(min-width: 1280px)"
      />
      <source
        srcset="./images/advantages_tab.jpg x1,
                ./images/advantages_tab2.jpg x2"
        media="(min-width: 768px)"
      />
      <source
        srcset="./images/advantages_tel.jpg x1,
                ./images/advantages_tel2.jpg x2"
        media="(min-width: 375px)"
      />
      <img src="./images/advantages_desk.jpg" alt="yacht interior" />
    </picture>
  </div>
</section>
