<section class="our-yachts">
  <div class="conatiner-our-yachts">
    <h2 class="our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <div class="our-yachts-price">
      <ul class="our-yachts-list">
        <li class="our-yacht-item">
          <img src="/src/images/yachy-1.png" alt="The frist yacht" />
          <div class="container-our-yachts-price">
            <h3 class="name-yacht">
              ARROW <spam class="type-yacht">LUCURY YAHTS</spam>
            </h3>
            <span class="line"></span>
            <p class="categories-yacht">LENGTH</p>
            <p class="categories-yacht">BUILDER</p>
            <p class="categories-yacht">BUILT</p>
            <p class="categories-yacht">GUESTS</p>
            <p class="categories-yacht">PRICE</p>

            <p class="details-yacht">48m(155ft)</p>
            <p class="details-yacht">Admiral</p>
            <p class="details-yacht">2021</p>
            <p class="details-yacht">11 in 5 cabins</p>
            <p class="details-yacht">€33,500,000</p>
          </div>
        </li>
        <li class="our-yacht-item">
          <img src="/src/images/yacht-2.png" alt="The second yacht" />
          <div class="container-our-yachts-price">
            <h3 class="name-yacht name-yacht-1">
              BENETTI OASIS 40M B...<spam class="type-yacht type-yacht-1"
                >LUCURY YAHTS</spam
              >
            </h3>
            <span class="line"></span>
            <p class="categories-yacht">LENGTH</p>
            <p class="categories-yacht">SHIPYARD</p>
            <p class="categories-yacht">BUILT</p>
            <p class="categories-yacht">GUESTS</p>
            <p class="categories-yacht">PRICE</p>
            <p class="details-yacht">41m(133ft)</p>
            <p class="details-yacht">Benetti</p>
            <p class="details-yacht">2025</p>
            <p class="details-yacht">10 in 5 cabins</p>
            <p class="details-yacht">€23,210,000</p>
          </div>
        </li>
        <li class="our-yacht-item">
          <img src="/src/images/yacht-3.png" alt="The third yacht" />
          <div class="container-our-yachts-price">
            <h3 class="name-yacht name-yacht-2">
              BELLE ANNA
              <spam class="type-yacht type-yacht-2">LUCURY YAHTS</spam>
            </h3>
            <span class="line"></span>
            <p class="categories-yacht">LENGTH</p>
            <p class="categories-yacht">SHIPYARD</p>
            <p class="categories-yacht">BUILT</p>
            <p class="categories-yacht">GUESTS</p>
            <p class="categories-yacht">PRICE</p>

            <p class="details-yacht">50m(155ft)</p>
            <p class="details-yacht">ISA</p>
            <p class="details-yacht">2012</p>
            <p class="details-yacht">12 in 6 cabins</p>
            <p class="details-yacht">€21,500,000</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="our-yachts-button">
      <button type="menu" class="our-yacht-button">Yacht rental</button>
    </div>
  </div>
</section>
