<section class="our-yachts">
  <div class="conatiner-our-yachts">
    <h2 class="our-yachts-title">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <div class="our-yachts-price">
      <ul class="our-yachts-list">
        <li>
          <img src="/src/images/yachy-1.png" alt="The frist yacht" />
          <div class="container-our-yachts-price">
            <h3 class="name-yacht">
              ARROW <spam class="type-yacht">LUCURY YAHTS</spam>
            </h3>
            <span class="line"></span>
            <p class="categories-yacht">
              LENGTH <span class="details-yacht">48m(155ft)</span>
            </p>
            <p class="categories-yacht">
              BUILDER <span class="details-yacht">Admiral</span>
            </p>
            <p class="categories-yacht">
              BUILT<span class="details-yacht">2021</span>
            </p>
            <p class="categories-yacht">
              GUESTS <span class="details-yacht">11 in 5 cabins</span>
            </p>
            <p class="categories-yacht">
              PRICE <span class="details-yacht">€33,500,000</span>
            </p>
          </div>
        </li>
        <li>
          <img src="/src/images/yacht-2.png" alt="The second yacht" />
          <div class="container-our-yachts-price">
            <h3 class="name-yacht">
              BENETTI OASIS 40M B...<spam class="type-yacht">LUCURY YAHTS</spam>
            </h3>
            <span class="line"></span>
            <p class="categories-yacht">
              LENGTH <span class="details-yacht">41m(133ft)</span>
            </p>
            <p class="categories-yacht">
              SHIPYARD <span class="details-yacht">Benetti</span>
            </p>
            <p class="categories-yacht">
              BUILT<span class="details-yacht">2025</span>
            </p>
            <p class="categories-yacht">
              GUESTS <span class="details-yacht">10 in 5 cabins</span>
            </p>
            <p class="categories-yacht">
              PRICE <span class="details-yacht">€23,210,000</span>
            </p>
          </div>
        </li>
        <li>
          <img src="/src/images/yacht-3.png" alt="The third yacht" />
          <div class="container-our-yachts-price">
            <h3 class="name-yacht">
              BELLE ANNA <spam class="type-yacht">LUCURY YAHTS</spam>
            </h3>
            <span class="line"></span>
            <p class="categories-yacht">
              LENGTH <span class="details-yacht">50m(155ft)</span>
            </p>
            <p class="categories-yacht">
              SHIPYARD <span class="details-yacht">ISA</span>
            </p>
            <p class="categories-yacht">
              BUILT<span class="details-yacht">2012</span>
            </p>
            <p class="categories-yacht">
              GUESTS <span class="details-yacht">12 in 6 cabins</span>
            </p>
            <p class="categories-yacht">
              PRICE <span class="details-yacht">€21,500,000</span>
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="our-yachts-button">
      <button type="menu">Yacht rental</button>
    </div>
  </div>
</section>
